<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="productsDup" ng-controller="ProductsDupViewController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title config-title></title>
        <script type="text/javascript" src="./config.js"></script>
        <script type="text/javascript" src="/services/js/platform-core/services/loader.js?id=view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/platform-core/services/loader.js?id=view-css" />
        <script type="text/javascript" src="./controller.js"></script>
    </head>

    <body bk-scrollbar>
        <bk-fieldset class="bk-padding--sm">
            <bk-form-group>
                <bk-form-item horizontal="true">
                    <bk-form-label for="batchid" colon="true" ng-required="true">Batch ID</bk-form-label>
                    <bk-input id="batchid" type="text" placeholder="Here goes the batch id." ng-model="batchId"></bk-input>
                </bk-form-item>
                <bk-form-item>
                    <bk-button ng-click="submitCopy(batchId)" label="Submit">Submit</bk-button>
                </bk-form-item>
            </bk-form-group>
        </bk-fieldset>
        <theme></theme>
    </body>

</html>
